* {
	font-family: 'Cairo' , sans-serif;
}
:root {
	--first-color: #343a40;
	--second-color: #262b2f;
}
a,a:hover{
	text-decoration: none;
}
body {
	background-color: #343a40eb;
	font-family: 'Cairo' , sans-serif;
}
.content{
	height: 100%;
}
#side-area{
	background: var(--first-color);
	color: #FFF;
	padding: 20px 0; 
}
#side-area h4{
	text-align: center;
	margin-bottom: 20px;
}
#side-area ul{
	list-style: none;
	padding: 0;
}
#side-area ul li{
	background: var(--second-color);
	margin-bottom: 3px;
	padding: 5px;
}
#side-area ul li a{
	color: #fff;
}
#side-area #menu li{
	background: #9a9da0; 
}

/* categries */
.add-category{
	margin-top: 30px;
}
.btn-custom {
	background: var(--first-color);
	color: #fff;
	border: 1px solid var(--first-color);
	border-radius: 3px;
	padding: 5px 10px;
	width: 100px;
}

.table thead{
	background-color: var(--first-color)!important;
	color: #FFF;
}
footer{
	background-color: var(--first-color);
	text-align: center;
	border-top: 1px solid #43494e;
}
